.container {
  position: relative;
  max-width: 85%;
  max-height: 95%;
  min-height: 420px;
  margin: 0 auto;
  padding: 0 !important;
  overflow: hidden;
}

.tag {
  position: absolute;
  display: inline-block;
  background: #0A7A42;
  color: #fff;
  padding: 15px 30px;
  top: 5px;
  right: 0;
  z-index: 2;
}

.tag-status__aliver {
  background: #0A7A42;
}

.tag-status__unk {
  background: #808080;
}

.tag-status__rip {
  background: #F4651F;
}

.container img {
  position: absolute;
  object-fit: cover;
  padding: 5px 0px 0px 1px;
  width: 100%;
  min-width: 240px;
  max-width: 680px;
  transition: all .2s ease-in-out;
}

.container img:hover {
  transform: scale(1.11);
}

.content {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to top, #000 30%, rgba(0, 0, 0, 0) 100%);
  color: #f1f1f1;
  width: 100%;
  padding: 30px;
  overflow: auto;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.birth {
  font-size: 1.0em;
  margin: 15px 0;
}

.iconBirth {
  font-size: 1em;
  padding-right: 5px;
}

.content .desc {
  font-size: 1.2em;
}